<div class="main index">
  <header>
    <h1>Sit down.</h1>
    <img src="/img/shared/seat-icon.png" alt="Seat - sit down and have a talk">
  </header>

  <form id="login-form" action="<%= localPath %>" method="POST">
    <%- contentTag('input', params.username, {type: 'text', name: 'username', placeholder: 'Username', id: 'username'}) %>
    <%- contentTag('input', params.password, {type: 'password', name: 'password', placeholder: 'Password', id: 'password'}) %>
    <%- contentTag('input', 'Login', {type: 'submit', class: 'btn', tabindex: '-1'}) %>
  </form>
</div>