<div class="row">
  <div class="span">
    <h1>Headline 1</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing elementum velit, ut mattis neque vestibulum at. Sed fermentum, tellus sed viverra feugiat, arcu risus malesuada orci, in molestie ipsum leo eget nisl.</p>

    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse fringilla interdum justo vitae egestas. Proin eu eros enim, in porttitor libero.</p>
  </div>
</div>

<div class="row">
  <div class="span">
    <a href="#" class="btn">Default</a>
    <button class="btn">Default</button>

    <a href="#" class="btn primary">Primary</a>
    <button class="btn primary">Primary</button>
  </div>
</div>

<div class="row">
  <div class="span">
    <input type="text" placeholder="Text input" class="span span6">

    <textarea class="span span6" placeholder="Textarea"></textarea>
  </div>
</div>