<div class="ui">
  <div class="row">
    <div class="span">
      <h1>Headline 1</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing elementum velit, ut mattis neque vestibulum at. Sed fermentum, tellus sed viverra feugiat, arcu risus malesuada orci, in molestie ipsum leo eget nisl.</p>

      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse fringilla interdum justo vitae egestas. Proin eu eros enim, in porttitor libero.</p>
    </div>
  </div>

  <div class="row">
    <div class="span">
      <a href="#" class="btn">Default</a>
      <button class="btn">Default</button>

      <a href="#" class="btn disabled">Disabled</a>
      <button class="btn" disabled>Disabled</button> <br>

      <a href="#" class="btn primary">Primary</a>
      <button class="btn primary">Primary</button>

      <a href="#" class="btn primary disabled">Primary</a>
      <button class="btn primary" disabled>Primary</button> <br>

      <a href="#" class="btn danger">Danger</a>
      <button class="btn danger">Danger</button>

      <a href="#" class="btn danger disabled">Danger</a>
      <button class="btn danger" disabled>Danger</button> <br>
    </div>
  </div>

  <div class="row">
    <div class="span">
      <input type="text" placeholder="Simple input" class="span6">

      <textarea class="span6" placeholder="Textarea"></textarea>

      <input type="checkbox" id="checkbox1">
      <label for="checkbox1">Checkbox</label>

      <input type="radio" id="radio1">
      <label for="radio1">Radio</label>
    </div>
  </div>

  <div class="row">
    <div class="span">
      <button class="btn" data-modal="#ui-modal">Open modal</button>

      <div class="modal" id="ui-modal">
        <div class="body">
          <h1>Modal</h1>
          <a href="#" class="close"></a>
        </div>
      </div>
    </div>
  </div>
</div>
