<div class="row messages add">
  <div class="span">
    <form class="form" action="/room/<%= params.room %>" method="POST">
      <% if(params.errors) { %>
        <ul>
          <% for(var err in params.errors) { %>
            <li><%= params.errors[err]; %></li>
          <% } %>
        </ul>
      <% } %>
      
      <%= partial('messages/_form', {message: params}); %>
      
      <%- contentTag('input', 'Send', {type: 'submit', class: 'btn primary send'}) %>
    </form>
  </div>
</div>
