@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("/fonts/proxima-nova/proxima-light.eot");
  src: url("/fonts/proxima-nova/proxima-light.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/proxima-light.woff") format("woff"), url("/fonts/proxima-nova/proxima-light.ttf") format("truetype"), url("/fonts/proxima-nova/proxima-light.svg#proxima_nova_rglight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima-nova/proxima-regular.eot");
  src: url("/fonts/proxima-nova/proxima-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/proxima-regular.woff") format("woff"), url("/fonts/proxima-nova/proxima-regular.ttf") format("truetype"), url("/fonts/proxima-nova/proxima-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("/fonts/proxima-nova/proxima-bold.eot");
  src: url("/fonts/proxima-nova/proxima-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/proxima-bold.woff") format("woff"), url("/fonts/proxima-nova/proxima-bold.ttf") format("truetype"), url("/fonts/proxima-nova/proxima-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.row {
  width: 1176px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  white-space: nowrap;
  display: block; }
  .row + .row {
    margin-top: 10px; }

.span {
  float: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Internet Explorer */
  *display: inline;
  /* Internet Explorer */
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  text-align: left; }
  .span .row {
    width: inherit; }
  .span + .span {
    margin-left: 24px; }

.span1 {
  width: 26px; }

.span2 {
  width: 76px; }

.span3 {
  width: 126px; }

.span4 {
  width: 176px; }

.span5 {
  width: 226px; }

.span6 {
  width: 276px; }

.span7 {
  width: 326px; }

.span8 {
  width: 376px; }

.span9 {
  width: 426px; }

.span10 {
  width: 476px; }

.span11 {
  width: 526px; }

.span12 {
  width: 576px; }

.span13 {
  width: 626px; }

.span14 {
  width: 676px; }

.span15 {
  width: 726px; }

.span16 {
  width: 776px; }

.span17 {
  width: 826px; }

.span18 {
  width: 876px; }

.span19 {
  width: 926px; }

.span20 {
  width: 976px; }

.span21 {
  width: 1026px; }

.span22 {
  width: 1076px; }

.span23 {
  width: 1126px; }

.span24 {
  width: 1176px; }

body {
  background: #f9f9f9;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  color: #888888; }
  body a {
    text-decoration: none; }

h1 {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  color: #666666;
  margin: 10px 0; }

p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #666666; }
  p + p {
    margin-top: 5px; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  border-radius: 5px;
  background: white;
  border: 1px solid #eeeeee;
  padding: 15px;
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Proxima Nova", sans-serif;
  display: block; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aaaaaa; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #aaaaaa; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #aaaaaa; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #aaaaaa; }
  input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover {
    box-shadow: 0 1px 0 #f5f5f5;
    color: #888888; }
    input[type="text"]:hover::-webkit-input-placeholder, input[type="email"]:hover::-webkit-input-placeholder, input[type="password"]:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
      color: #888888; }
    input[type="text"]:hover:-moz-placeholder, input[type="email"]:hover:-moz-placeholder, input[type="password"]:hover:-moz-placeholder, textarea:hover:-moz-placeholder {
      color: #888888; }
    input[type="text"]:hover::-moz-placeholder, input[type="email"]:hover::-moz-placeholder, input[type="password"]:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
      color: #888888; }
    input[type="text"]:hover:-ms-input-placeholder, input[type="email"]:hover:-ms-input-placeholder, input[type="password"]:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
      color: #888888; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    box-shadow: 0 1px 2px #eeeeee inset;
    color: #888888;
    outline: 0; }
    input[type="text"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
      color: #eeeeee; }
    input[type="text"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
      color: #eeeeee; }
    input[type="text"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
      color: #eeeeee; }
    input[type="text"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
      color: #eeeeee; }
  input[type="text"].inline, input[type="email"].inline, input[type="password"].inline, textarea.inline {
    display: inline-block;
    vertical-align: top; }

textarea {
  min-height: 50px;
  resize: none; }

.btn {
  border-radius: 5px;
  padding: 22px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif; }
  .btn.btn {
    color: #aaaaaa;
    text-shadow: 0 1px 0 white;
    background: #f9f9f9;
    box-shadow: 0 1px 2px white inset;
    border: 1px solid #eeeeee;
    transition: .25s;
    margin: 0; }
    .btn.btn:hover {
      color: #aaaaaa;
      background: #fcfcfc;
      box-shadow: 0 1px 2px white inset, 0 1px 0 #f5f5f5; }
    .btn.btn:active {
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 2px #e5e5e5 inset, 0 1px 0 white; }
  .btn.primary {
    color: #f9f9f9;
    text-shadow: 0 0 0;
    background: #59d9f0;
    box-shadow: 0 1px 2px #8eeeff inset;
    border: 1px solid #4fbacd; }
    .btn.primary:hover {
      color: white;
      background: #70def2;
      box-shadow: 0 1px 2px #8eeeff inset, 0 1px 0 #dddddd; }
    .btn.primary:active {
      border: 1px solid #4fbacd;
      box-shadow: 0 1px 2px #4fbacd inset, 0 1px 0 white; }
  .btn.danger {
    color: #f9f9f9;
    text-shadow: 0 0 0;
    background: #f05959;
    box-shadow: 0 1px 2px #ff8e8e inset;
    border: 1px solid #cd4f4f; }
    .btn.danger:hover {
      color: white;
      background: #f16767;
      box-shadow: 0 1px 2px #ff8e8e inset, 0 1px 0 #dddddd; }
    .btn.danger:active {
      border: 1px solid #cd4f4f;
      box-shadow: 0 1px 2px #cd4f4f inset, 0 1px 0 white; }
  .btn.disabled, .btn:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default; }

.modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }
  .modal .body {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background: white;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 15px; }
  .modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block; }
    .modal .close:before {
      content: '×';
      font-size: 24px;
      color: #888888; }
    .modal .close:hover:before {
      color: #aaaaaa; }

.ui {
  margin: 30px 0; }
