@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("/fonts/proxima-nova/proxima-light.eot");
  src: url("/fonts/proxima-nova/proxima-light.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/proxima-light.woff") format("woff"), url("/fonts/proxima-nova/proxima-light.ttf") format("truetype"), url("/fonts/proxima-nova/proxima-light.svg#proxima_nova_rglight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/proxima-nova/proxima-regular.eot");
  src: url("/fonts/proxima-nova/proxima-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/proxima-regular.woff") format("woff"), url("/fonts/proxima-nova/proxima-regular.ttf") format("truetype"), url("/fonts/proxima-nova/proxima-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("/fonts/proxima-nova/proxima-bold.eot");
  src: url("/fonts/proxima-nova/proxima-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima-nova/proxima-bold.woff") format("woff"), url("/fonts/proxima-nova/proxima-bold.ttf") format("truetype"), url("/fonts/proxima-nova/proxima-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

body {
  padding: 30px 0; }

.row {
  width: 1176px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  white-space: nowrap;
  display: block; }
  .row + .row {
    margin-top: 10px; }

.span {
  width: 100%;
  float: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Internet Explorer */
  *display: inline;
  /* Internet Explorer */
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  text-align: left; }
  .span .row {
    width: inherit; }
  .span + .span {
    margin-left: 24px; }

.span1 {
  width: 26px; }

.span2 {
  width: 76px; }

.span3 {
  width: 126px; }

.span4 {
  width: 176px; }

.span5 {
  width: 226px; }

.span6 {
  width: 276px; }

.span7 {
  width: 326px; }

.span8 {
  width: 376px; }

.span9 {
  width: 426px; }

.span10 {
  width: 476px; }

.span11 {
  width: 526px; }

.span12 {
  width: 576px; }

.span13 {
  width: 626px; }

.span14 {
  width: 676px; }

.span15 {
  width: 726px; }

.span16 {
  width: 776px; }

.span17 {
  width: 826px; }

.span18 {
  width: 876px; }

.span19 {
  width: 926px; }

.span20 {
  width: 976px; }

.span21 {
  width: 1026px; }

.span22 {
  width: 1076px; }

.span23 {
  width: 1126px; }

.span24 {
  width: 1176px; }

body {
  background: #f9f9f9;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  color: #888888; }
  body a {
    text-decoration: none;
    color: #59d9f0;
    transition: .2s; }
    body a:hover {
      color: #8eeeff; }

h1 {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  color: #666666;
  margin: 10px 0; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  border-radius: 5px;
  background: white;
  border: 1px solid #eeeeee;
  padding: 15px;
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Proxima Nova", sans-serif;
  display: block;
  box-sizing: border-box;
  margin: 0; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aaaaaa;
    transition: .2s; }
  input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #aaaaaa;
    transition: .2s; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #aaaaaa;
    transition: .2s; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #aaaaaa;
    transition: .2s; }
  input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover {
    box-shadow: 0 1px 0 #f5f5f5;
    color: #888888; }
    input[type="text"]:hover::-webkit-input-placeholder, input[type="email"]:hover::-webkit-input-placeholder, input[type="password"]:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
      color: #888888; }
    input[type="text"]:hover:-moz-placeholder, input[type="email"]:hover:-moz-placeholder, input[type="password"]:hover:-moz-placeholder, textarea:hover:-moz-placeholder {
      color: #888888; }
    input[type="text"]:hover::-moz-placeholder, input[type="email"]:hover::-moz-placeholder, input[type="password"]:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
      color: #888888; }
    input[type="text"]:hover:-ms-input-placeholder, input[type="email"]:hover:-ms-input-placeholder, input[type="password"]:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
      color: #888888; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    box-shadow: 0 1px 2px #eeeeee inset;
    color: #888888;
    outline: 0; }
    input[type="text"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
      color: #eeeeee; }
    input[type="text"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
      color: #eeeeee; }
    input[type="text"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
      color: #eeeeee; }
    input[type="text"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
      color: #eeeeee; }
  input[type="text"].inline, input[type="email"].inline, input[type="password"].inline, textarea.inline {
    display: inline-block;
    vertical-align: top; }

textarea {
  padding-top: 12px;
  padding-bottom: 10px;
  min-height: 85px;
  line-height: 21px;
  overflow: hidden;
  resize: none;
  background: white url("/img/shared/forms/textarea-bg.png") repeat; }

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0;
  outline: 0;
  cursor: pointer; }
  input[type="checkbox"] + label, input[type="radio"] + label {
    padding-left: 23px;
    display: inline-block;
    height: 18px;
    margin-left: -12px;
    cursor: pointer;
    outline: 0;
    color: #aaaaaa;
    font-size: 14px;
    line-height: 20px;
    font-family: "Proxima Nova", sans-serif; }
    input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {
      color: #888888;
      transition: color .2s; }

input[type="checkbox"] + label {
  background: url("/img/shared/forms/checkbox-radio-bg.png") no-repeat 0 0; }
input[type="checkbox"]:checked + label {
  background: url("/img/shared/forms/checkbox-radio-bg.png") no-repeat 0 -18px; }

input[type="radio"] + label {
  background: url("/img/shared/forms/checkbox-radio-bg.png") no-repeat 0 -36px; }
input[type="radio"]:checked + label {
  background: url("/img/shared/forms/checkbox-radio-bg.png") no-repeat 0 -54px; }

.btn {
  border-radius: 5px;
  padding: 22px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif; }
  .btn.btn {
    color: #aaaaaa;
    text-shadow: 0 1px 0 white;
    background: #f9f9f9;
    box-shadow: 0 1px 2px white inset;
    border: 1px solid #eeeeee;
    transition: .2s;
    margin: 0; }
    .btn.btn:hover {
      color: #aaaaaa;
      background: #fcfcfc;
      box-shadow: 0 1px 2px white inset, 0 1px 0 #f5f5f5; }
    .btn.btn:active {
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 2px #e5e5e5 inset, 0 1px 0 white; }
  .btn.primary {
    color: #f9f9f9;
    text-shadow: 0 0 0;
    background: #59d9f0;
    box-shadow: 0 1px 2px #8eeeff inset;
    border: 1px solid #4fbacd; }
    .btn.primary:hover {
      color: white;
      background: #70def2;
      box-shadow: 0 1px 2px #8eeeff inset, 0 1px 0 #dddddd; }
    .btn.primary:active {
      border: 1px solid #4fbacd;
      box-shadow: 0 1px 2px #4fbacd inset, 0 1px 0 white; }
  .btn.danger {
    color: #f9f9f9;
    text-shadow: 0 0 0;
    background: #f05959;
    box-shadow: 0 1px 2px #ff8e8e inset;
    border: 1px solid #cd4f4f; }
    .btn.danger:hover {
      color: white;
      background: #f16767;
      box-shadow: 0 1px 2px #ff8e8e inset, 0 1px 0 #dddddd; }
    .btn.danger:active {
      border: 1px solid #cd4f4f;
      box-shadow: 0 1px 2px #cd4f4f inset, 0 1px 0 white; }
  .btn.disabled, .btn:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default; }

.modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }
  .modal .body {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background: white;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 15px;
    box-shadow: 0 0px 8px #333333; }
  .modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block; }
    .modal .close:before {
      content: '×';
      font-size: 24px;
      color: #888888; }
    .modal .close:hover:before {
      color: #aaaaaa; }

.ui {
  margin: 30px 0; }

.rooms.show .sidebar {
  position: relative;
  text-align: center;
  height: 625px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  background: #aaaaaa;
  background: -moz-linear-gradient(top, #aaaaaa 0%, #eeeeee 45%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(45%, #eeeeee), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #aaaaaa 0%, #eeeeee 45%, #eeeeee 100%);
  background: -o-linear-gradient(top, #aaaaaa 0%, #eeeeee 45%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #aaaaaa 0%, #eeeeee 45%, #eeeeee 100%);
  background: linear-gradient(to bottom, #aaaaaa 0%, #eeeeee 45%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#eeeeee',GradientType=0 ); }
  .rooms.show .sidebar .background {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 224px;
    height: 623px;
    z-index: 0;
    background: white;
    border-radius: 5px; }
    .rooms.show .sidebar .background .avatar {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      max-width: 200%;
      min-height: 300px; }
    .rooms.show .sidebar .background .fade {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 45%, white 95%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, white), color-stop(95%, white), color-stop(100%, white));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 45%, white 95%, white 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 45%, white 95%, white 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 45%, white 95%, white 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 45%, white 95%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }
  .rooms.show .sidebar .content {
    position: absolute;
    top: 280px;
    width: 100%;
    z-index: 1; }
  .rooms.show .sidebar .actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 10px; }
    .rooms.show .sidebar .actions .btn {
      width: 160px;
      display: block;
      margin-top: 5px; }

.messages.add {
  position: relative; }
  .messages.add textarea {
    width: 100%;
    padding-right: 100px; }
  .messages.add .btn.primary {
    position: absolute;
    top: 10px;
    right: 10px; }

.messages.index ul {
  height: 530px;
  overflow: auto;
  background: white;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0 20px;
  box-sizing: border-box; }
  .messages.index ul:hover::-webkit-scrollbar-thumb {
    background-color: #c2c2c2 !important; }
    .messages.index ul:hover::-webkit-scrollbar-thumb:hover {
      background-color: #7e7e7e !important; }
  .messages.index ul::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 13px !important;
    background: white !important; }
  .messages.index ul::-webkit-scrollbar-thumb {
    border-radius: 18px !important;
    border: 3px solid white !important;
    background-color: transparent !important; }
.messages.index li {
  display: block;
  margin: 20px 0;
  overflow: hidden;
  width: 484px; }
  .messages.index li.self {
    text-align: left; }
    .messages.index li.self .avatar {
      margin-right: 6px; }
    .messages.index li.self + .other {
      margin-top: -90px; }
  .messages.index li.other {
    text-align: right; }
    .messages.index li.other .body {
      margin-left: 276px; }
    .messages.index li.other .avatar {
      margin-left: 6px; }
    .messages.index li.other + .self {
      margin-top: -90px; }
  .messages.index li .body {
    height: auto;
    width: 208px;
    padding: 0 15px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    color: #666666;
    font-size: 15px;
    line-height: 21px;
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 12px 0 32px; }
    .messages.index li .body:before {
      content: '';
      display: block;
      position: absolute;
      left: -1px;
      top: -12px;
      width: 208px;
      height: 12px;
      background: url("/img/sections/messages/body-border-top.png") no-repeat; }
    .messages.index li .body:after {
      content: '';
      display: block;
      position: absolute;
      left: -1px;
      bottom: -32px;
      width: 208px;
      height: 32px;
      background: url("/img/sections/messages/body-border-bottom.png") no-repeat; }
    .messages.index li .body img {
      width: 178px; }
  .messages.index li .avatar {
    width: 47px;
    height: 47px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #888888; }
  .messages.index li .info {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #aaaaaa;
    line-height: 19px; }
    .messages.index li .info .time {
      font-size: 13px;
      font-family: "Proxima Nova Light", sans-serif;
      font-style: italic; }
