<div class="hero-unit">
  <form id="user-form" class="align-center" action="<%= usersPath %>" method="POST" enctype="multipart/form-data">
    <fieldset>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>
      <%= partial('_form', {user: params}) %>
      
      <%- contentTag('input', 'Create new user', {type: 'submit', class: 'btn primary span6'}) %>
    </fieldset>
  </form>
</div>
