<div class="hero-unit">
  <h2>All Users</h2>
  <%- linkTo('Create a new User', addUserPath, {class: 'btn pull-right'}); %>
</div>

<% if (users) { %>
  <% for (var i = 0, ii = users.length; i < ii; i++) { %>
    <h3><%- linkTo(users[i].name, userPath(users[i].username)); %></h3>
  <% } %>
<% } %>
