.btn {
  border-radius: 5px;
  padding: 22px;
  cursor: pointer;
  font-size: 16px;
  font-family: $proxima;

  &.btn {
    color: $grayl;
    text-shadow: 0 1px 0 white;
    background: #f9f9f9;
    box-shadow: 0 1px 2px white inset;
    border: 1px solid #eeeeee;
    transition: .25s;

    &:hover {
      color: $gray;
      background: lighten(#f9f9f9, 1%);
      box-shadow: 0 1px 2px white inset, 0 1px 0 #f5f5f5;
    }
  }

  &.primary {
    color: #f9f9f9;
    text-shadow: 0 0 0;
    background: $blue;
    box-shadow: 0 1px 2px $bluel inset;
    border: 1px solid $blued;

    &:hover {
      color: white;
      background: lighten($blue, 5%);
      box-shadow: 0 1px 2px $bluel inset, 0 1px 0 #e5e5e5;
    }
  }
}
