.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }

.row {
  width: 1176px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  white-space: nowrap;
  display: block;

  & + .row { margin-top: 10px; }
}

.span {
  float: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;                    /* Internet Explorer */
  *display: inline;           /* Internet Explorer */
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  text-align: left;

  .row { width: inherit; }

  & + .span {
    margin-left: 24px;
  }
}

.span1  { width: 26px; }
.span2  { width: 76px; }
.span3  { width: 126px; }
.span4  { width: 176px; }
.span5  { width: 226px; }
.span6  { width: 276px; }
.span7  { width: 326px; }
.span8  { width: 376px; }
.span9  { width: 426px; }
.span10 { width: 476px; }
.span11 { width: 526px; }
.span12 { width: 576px; }
.span13 { width: 626px; }
.span14 { width: 676px; }
.span15 { width: 726px; }
.span16 { width: 776px; }
.span17 { width: 826px; }
.span18 { width: 876px; }
.span19 { width: 926px; }
.span20 { width: 976px; }
.span21 { width: 1026px; }
.span22 { width: 1076px; }
.span23 { width: 1126px; }
.span24 { width: 1176px; }
