body {
  background: #f9f9f9;
  font-family: $proxima;
  font-size: 14px;
  color: $gray;

  a {
    text-decoration: none;
    color: $blue;
    transition: .2s;

    &:hover {
      color: $bluel;
    }
  }
}

h1 {
  font-family: $proximab;
  font-size: 24px;
  color: $grayd;
  margin: 10px 0;
}
