$proximal: 'Proxima Nova Light', sans-serif;
$proxima:  'Proxima Nova', sans-serif;
$proximab: 'Proxima Nova Bold', sans-serif;

$grayl: #aaaaaa;
$gray:  #888888;
$grayd: #666666;

$bluel: #8eeeff;
$blue:  #59d9f0;
$blued: #4fbacd;
