.rooms.show {
  .sidebar {
    position: relative;
    text-align: center;
    height: 625px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(170,170,170);
    background: -moz-linear-gradient(top,  rgba(170,170,170,1) 0%, rgba(238,238,238,1) 45%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,170,170,1)), color-stop(45%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1)));
    background: -webkit-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(238,238,238,1) 45%,rgba(238,238,238,1) 100%);
    background: -o-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(238,238,238,1) 45%,rgba(238,238,238,1) 100%);
    background: -ms-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(238,238,238,1) 45%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom,  rgba(170,170,170,1) 0%,rgba(238,238,238,1) 45%,rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#eeeeee',GradientType=0 );

    .background {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 224px;
      height: 623px;
      z-index: 0;
      background: white;
      border-radius: 5px;
      overflow: hidden;
      
      .avatar {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        max-width: 200%;
        min-height: 300px;
      }

      .fade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(45%,rgba(255,255,255,1)), color-stop(95%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      }
    }

    .content {
      position: absolute;
      top: 280px;
      width: 100%;
      z-index: 1;
    }

    .actions {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
      padding: 10px;

      .btn {
        width: 160px;
        display: block;
        margin-top: 5px;
      }
    }
  }
}