      <div class="control-group">
        <label for="title" class="control-label">title</label>
        <div class="controls">
          <%- contentTag('input', room.title, {type:'text', class:'span6', name:'title'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="avatar" class="control-label">avatar (paste a url)</label>
        <div class="controls">
          <%- contentTag('input', room.avatar, {type:'text', class:'span6', name:'avatar'}) %>
        </div>
      </div>
      <!-- <div class="control-group">
        <label for="avatar" class="control-label">avatar</label>
        <div class="controls">
          <%- contentTag('input', room.avatar, {type:'file', class:'span6', name:'avatar'}) %>
        </div>
      </div> -->